 #header {width:1010px;margin: 0 auto;height:166px;}
    #main-nav {height:71px;border-bottom:10px solid #e74c3c;}
    #logo {float:left;}
    #logo img{width:234px;margin:34px 0 0 0;padding:0;}
    #metanavi {float:right;margin:15px 0 0 0;display: block;}
    .metanavi-home {float:left;width:40px;height:40px;margin:0 0 0 8px;}
    .metanavi-kontakt {float:left;width:40px;height:40px;}
    .metanavi-home img , .metanavi-kontakt img {width:40px;height:40px;}
    .s-piloten-info-wrap {position:relative;float:right;width:118px;height:118px;z-index:99;}
    .s-piloten-info {position:absolute;top:-112px;text-align: center}
    .pinfo-button {position:absolute;right:0;width:118px;height:118px;top:-112px;text-align: center}
    .pinfo-button a{display:block;width:118px;height:118px;display:block;text-align: center}
    .pinfo-button span, .pinfo-button i {display:block;}
    .pinfo-button i {margin:30px 0 10px 34px;padding:3px;}
    .pinfo-button span{margin:0 0 0 0;line-height:14px;}
    .first-content-wrap {margin:-1px 0 0 0;width:100%;display: block;clear:both;padding:0 0 60px 0;}
    .first-content {width:1010px;margin:0 auto;}
    .first-content-subpage {padding:26px 0 0 20px;display: table-cell;vertical-align:top;}
    .content-aktuelles-main{padding:52px 0 0 0;}
    .content-subpages-main {padding:22px 0 0 0;}
    .flugplatz-status-wrap {display: table-cell;vertical-align:top;min-height:100px;height:auto !important;height:100px;}
    .flugplatz-status-title {height:58px;width:270px;line-height:58px;padding:0 6px 0 16px;position: relative}
    .flugplatz-status-content {padding:10px 16px 16px 16px;display:block;float:left;}
    .aktuelles-wrap{display: table-cell;vertical-align:top;padding:0 0 0 68px;}
    .pagination {float:left;display: table-cell;}
    .pagination li {margin:18px 18px 0 0;float:left;}
    .second-content {width:1010px;margin:0 auto;}
    .news-columns {width:100%;}
    .news-cloumn-left, .news-cloumn-mid, .news-cloumn-right {float:left;display:block;display:table-cell; width:292px;}
    .news-cloumn-left, .news-cloumn-mid {margin-right:64px;}
    .news-column-main {padding:22px;height:130px;}
    a.news-column-link {display: block;padding:10px 20px 10px 20px;display:table-cell;width:252px;}
    a.news-column-link:hover {color:#fff;}
    .news-archiv-link {float:right;padding:0 10px 0 10px;margin:10px 15px 0 0;}
    .news-archiv-link a:hover {color:#e74c3c;}
    a.more-link {display: inline-block;padding:0 10px 0 10px;margin:0px 15px 0 0;text-decoration: none}
    a.more-link:hover {color:#e74c3c;text-decoration: none}
    .second-content-subpage {width:1010px;margin:0 auto;}
    .second-content-subpage-right {padding:10px 0 0 280px;display: table-cell;vertical-align:top;width:100%;}
    .third-content {width:1010px;margin:0 auto;}
    .first-content-navi {padding:30px 10px 0 0px;display: table-cell;width:260px;vertical-align:top;}
    #footer-content {width:1010px;margin:0 auto;}
    .copyright-logo img {width:120px;padding:10px 20px 0 0;float:left;display:block;}
    #copyright{float:left;width:50%;line-height: 18px;font-size:13px;color:#eaedf1;margin:30px 0 0 0;}
    #copyright p{margin:8px 0 0 0;}
    .tel {cursor:text;color:#ffffff;text-decoration:none;}
    #socialmedia {text-align:right;float:right;padding:40px 0px 0 0;}
    #socialmedia div {float:left;width:50px;height:50px;margin:0 0 0 12px;display:block;}
    
    #webcam-button-wrap {position:relative;width:1010px;margin:0 auto;}
    #webcam-button {position:absolute;right:0;width:118px;height:118px;top:-59px;}
    #webcam-button span{margin:-3px 0 0 0;float:left;width:100%;}
    #webcam-button i{margin:-12px 0 0 0;}
    #webcam-button a{display: block;width:118px;height:118px;}
    #footer-contact {height:91px;background-color: #eaedf1;width:100%;border-bottom: 1px solid #dbdee3;}
    .footer-contact-wrap {width:1010px;margin:0 auto;text-align: right}
    .footer-nav {list-style: none;text-align: right;margin:0 150px 0 0;float:right;padding:29px 0 0 0}
    .footer-nav li{list-style: none; display:inline;margin:0 0 0 64px;}
    .kontakt-button-wrap {position:relative;right:0;}
    .kontakt-button {position:absolute;right:0;width:118px;height:118px;top:-59px;}
    .kontakt-button a{display: block;width:118px;height:118px;text-align:center;padding:28px 0 0 0;}
    .kontakt-button span , .kontakt-button i{display: block;margin:0 0 0 0;padding:0 0 0 0;}
    .kontakt-button span {margin:-6px 0 0 0}
    .devices-trenner {display:none}
    .dropdown-tool-wrap {position:relative;float:right;width:118px;height:118px;z-index:99;}
    .dropdown-tool {position:absolute;right:0;width:118px;height:118px;top:-79px;text-align: center}
    .dropdown-tool a{display:block;width:118px;height:118px;display:block;text-align: center}
    .dropdown-tool span, .pinfo-button i {display:block;}
    .dropdown-tool i {margin:36px 0 10px 0px;padding:7px;}
    .dropdown-tool span{margin:0 0 0 0;line-height:14px;}
    .dropdown-tool-menu {text-align: center;width:118px;height:auto;display:none;}
    .dropdown-tool-item {display:block;width:100px;height:100px;display:block;text-align: center;margin:0 auto}
    .dropdown-tool-item a {margin:0 0 0 0;padding:0 0 0 0;text-align: center;width:100px;height:100px;}
    .dropdown-tool .dropdown-tool-item i {margin:22px 0 0 0;padding:0px;}
    .dropdown-tool .dropdown-tool-item span{margin:-10px 0 0 0;line-height:11px;}
    .dropdown-tool-trenner {width:1px;height:15px;background:#ebeef1;margin:0 auto}