#header {margin: 0 auto;height:74px;}
#main-nav {height:51px;border-bottom:3px solid #e74c3c;}
#header-image{display: none}
#metanavi {float:right;margin:15px 20px 0 0;display: block;}
.metanavi-home {float:left;width:40px;height:40px;margin:0 0 0 8px;}
.metanavi-kontakt {float:left;width:30px;height:30px;}
.metanavi-home img , .metanavi-kontakt img {width:30px;height:30px;}
#logo img {width:100px;padding:10px 20px;float:left;display:block;}
.s-piloten-info-wrap {display: block;width: 100%; float: left;margin:10px 0 20px 0;height:40px;padding:0 0px 30px 0px;background:#e74c3c;-webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px;behavior: url(fileadmin/templates/main/css/PIE.htc);z-index:1;position:relative}
.pinfo-button {width:100%;border-radius:0;-webkit-border-radius: 0;-moz-border-radius: 0; -khtml-border-radius:0;}
.pinfo-button a{width:100%;display:block;padding:10px;float:left;}
.pinfo-button span, .pinfo-button i {display:block;float:left;}
.pinfo-button i {margin:0px 16px 0 0 ;padding:3px;float:right;}
.pinfo-button span{padding:18px 0 0 8px;line-height:14px;color:#fff;font-size:22px}
.pinfo-button.circle-2{height:70px;background:none;}
.pinfo-button.circle-2:hover{box-shadow:none;-webkit-box-shadow:none; -moz-box-shadow:none}
.first-content-wrap {margin:-1px 0 0 0;width:100%;display: block;clear:both;padding:0px;}
.first-content {width:100%;margin:0 auto;}
.content-aktuelles-main , .content-subpages-main{padding:10px 20px 20px 20px;}
.flugplatz-status-wrap {display: block;width: 100%; float: left;min-height:100px;height:auto !important;height:100px;}
.flugplatz-status-title {height:58px;line-height:58px;padding:0 6px 0 16px;position: relative}
.flugplatz-status-content {padding:10px 16px 16px 16px;display:block;float:left;}
.aktuelles-wrap{display: table;vertical-align:top;padding:40px 0 0 0;}
.aktuelles-wrap h1{padding:0 0 20px 0;}
.pagination {float:left;display: table-cell;}
.pagination li {margin:18px 18px 0 0;float:left;}
.second-content-wrap { padding:0 20px 0 20px;}
.second-content {width:100%;margin:0 0;padding:0px 0 0 0;}
.news-columns {display: table-cell;vertical-align:top;min-height:100px;height:auto !important;height:100px;}
.news-cloumn-left, .news-cloumn-mid, .news-cloumn-right {display:block;float:left;width:100%;margin:10px 0 10px 0;}
.news-column-main {padding:22px;}
a.news-column-link {display: block;padding:0px 20px 10px 20px;background:#ecedf0}
a.news-column-link:hover {color:#0a9a9d;}
.news-archiv-link {float:left;padding:0 10px 0 10px;margin:10px 15px 0 0;}
.news-archiv-link a:hover {color:#e74c3c;}
a.more-link {display: inline-block;padding:0 10px 0 10px;margin:0px 15px 0 0;text-decoration: none}
a.more-link:hover {color:#e74c3c;text-decoration: none}
.third-content {margin:0 20px;}
.first-content-navi {display:none;}
#footer-content {width:100%;}
.copyright-logo img {width:80px;padding:10px 20px 0 20px;float:left;display:block;}
.copyright-text {float:left;display:block;text-align:left;}
#copyright{line-height: 18px;font-size:13px;color:#eaedf1;margin:30px 0 0 0px;padding: 0 0 0 0;display: table}
#copyright p{margin:8px 0 0 0;}
#copyright div {display: table-cell;vertical-align:top;margin:0 0 0 0}
.tel {cursor:text;color:#ffffff;text-decoration:none;}
#socialmedia {text-align:right;float:left;padding:40px 20px 0 90px;}
#socialmedia div {float:left;width:50px;height:50px;margin:0 0 0 12px;display:block;}
.dropdown-tool-wrap {display:none}