/* 
 *  @author (c) 2013  Aji yahya <aji.yahya@gmail.com>
 *  All rights reserved
*/

* {margin: 0;padding: 0;border: 0;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;font-smoothing: antialiased;}
html {height:100%;padding: 0;}
body {margin: 0;font-family: 'Istok Web';color: #282828;text-align: left;height:100%;line-height:24px;font-weight:100;-webkit-font-smoothing: antialiased;font-smoothing: antialiased;}
@-moz-document url-prefix() {body {font-weight: normal;padding: 0;height:100%;}}
#wrap { clear:both;padding:0 0 0 0;min-height:500px;height:auto !important;height:500px; margin: 0 auto;position: relative /* Bottom value must = footer height */}
#main {width:100%;min-height:500px;height:auto !important;height:500px;display: block;position: relative}
#header-image{display:block;width:100%;overflow:hidden;}
#header-image img{width:100%;}
#content {width:100%;clear: both;min-height: 100%;height: auto !important;height: 100%;display:block}
.first-content {display: table;width:1010px;margin:0 auto;min-height:100px;height:auto !important;height:100px;}
.second-content-wrap {margin:20px 0 20px 0;background:#fff;display: block;clear:both;padding:0px 0 26px 0;min-height:100px;height:auto !important;height:100px;}
.second-content {display: table;min-height:50px;height:auto !important;height:50px;}
.third-content-wrap {margin:10px 0 0 0;background:#ffffff;display: block;clear:both;padding:20px 0 26px 0;min-height:100px;height:auto !important;height:100px;}
.third-content {min-height:50px;height:auto !important;height:50px;}
.second-content-subpage-wrap {margin:20px 0 20px 0;display: block;clear:both;padding:0px 0 26px 0;min-height:100px;height:auto !important;height:100px;}
#footer {background-color:#333a45;height:100%;width:100%;display: table;padding: 0 0 40px 0;margin:60px 0 0 0;}
.copyright-text {float:left;display:block;text-align:left;}
a.tel {cursor:text;text-decoration:none;}
/* Metanavi Home Dropdown */
.metanavi-home {position:relative;}
#metanavi-home-slide-wrap {z-index:4;margin:14px 0 0 0;display:none;width:186px;height:136px;position:absolute;right:-5px;height:135px;text-align: left;}
.metanavi-home-slide {width:46px;height:148px;padding:10px 0 0px 0;margin:0 0 0 -5px;float:right;}
.metanavi-home-slide:before {content: '';display: block;border-color: transparent transparent #252931 transparent;border-style: solid;border-width: 6px;position: absolute;top: -12px;left:162px;margin-left: -5px;}
.metanavi-home-slide-text {width:136px;float:left;height:128px;padding:10px 0 0 0;}
.metanavi-home-slide-text div{width:132px;height:46px;float:left;display:block;padding:0px 0 0px 0;}
.metanavi-home-slide-text div span{width:122px;line-height:40px;height:40px;text-align: right;direction:rtl;display:none;padding:0px 14px 0px 0;background:#d6dce4;/*opacity:0.8;filter:alpha(opacity=80)*/; margin:3px 0px 6px 0;float:left;}
.metanavi-home-slide span.fa {width:46px;height:46px;line-height:46px;text-align: center;display:block;padding:0px 0 0px 0;float:left;}
.metanavi-home-slide span.fa:hover ,.metanavi-home-slide span.fa:visited, .metanavi-home-slide span.fa:link, .metanavi-home-slide span.fa:active,.metanavi-home-slide a:visited , .metanavi-home-slide a:active  , .metanavi-home a:visited , .metanavi-home a:active, .metanavi-home a:Link{color:#1ba8de;}
.metanavi-home > a:first-child {display:block;}
.metanavi-home > a:hover + div {display:block;}
#header-image-rotator{position:relative;}
#header-image-rotator img{z-index:1;background-color:white;position:absolute;}
#header-image-rotator img.rotatoractive{z-index:3}


/* Presse Box*/
.content-presse-pdf {position: relative;top:0;float:left;margin:0 20px 20px 0;-moz-column-width:250px;-webkit-column-width: 250px; -column-width:250px;border:1px solid rgba(239, 239, 239, 0.9);webkit-box-shadow: 3px 3px 3px 0px rgba(52, 50, 50, 0.4);-moz-box-shadow:3px 3px 3px 0px rgba(52, 50, 50, 0.4);box-shadow:3px 3px 3px 0px rgba(52, 50, 50, 0.4);}
.presse-pdf {text-align: left;/*position: relative*/} /* see ticket #101226: "position: relative" breaks download on small devices */
.presse-pdf a:hover {}
.presse-pdf a:hover:before {background:#fff;-khtml-opacity:.50; -moz-opacity:.50; -ms-filter:"alpha(opacity=50)";filter:alpha(opacity=50);filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0.5);opacity:.50;content: "\f002";font-family: 'FontAwesome';font-size: 50px;position: absolute;color:#e74c3c;padding:57% 40%;}
.presse-title {font-size: 18px;font-family:'Istok Web';margin:0 0 5px 0; }
.presse-author {font-size: 16px;color:#e74c3c;margin:0 0 5px 0}
.presse-date {font-size: 14px;}
