.cssmenu {height: 35px;display:block;width:1032px;margin:0 auto;padding:0 0 0 30px;text-align: justify;}
.cssmenu ul {z-index:4;list-style: none; width: 100%;height:35px;margin: 0 0 0 0;padding: 0;background-image : url('../pics/trans.gif');background-repeat: repeat;text-align: justify;}

/* Fix FF table-layot width 
@-moz-document url-prefix() {.cssmenu ul {table-layout:fixed;}}*/
.cssmenu a {margin: 0;padding: 0;text-decoration: none;font-weight:normal;}
.cssmenu > ul > li {height:62px;line-height:20px;display: inline-block;position: relative;
}
.cssmenu > ul > li.main-nav-first-child a{padding:3px 35px 0 0px;}
.cssmenu > ul > li > a {
  color: #ffffff;
  font-size: 23px;
  margin:11px 0 0 0;
  padding:8px 35px 4px 35px;
  line-height: 35px;
  height:35px;
  display: block;
  -webkit-transition: color .15s;
  -moz-transition: color .15s;
  -o-transition: color .15s;
  transition: color .15s;
  border-right:1px solid #4c545f;
}
.cssmenu > ul > li.main-nav-last-child > a { border-right:0px}
.cssmenu > ul > li:hover a {
  color: #e74c3c;position: relative;
}
.cssmenu > ul > li:hover > ul > li a{
  color:#ffffff;
}
.cssmenu > ul > li > ul , .cssmenu ul > li.main-nav-first-child > ul {
  opacity: 0;
  visibility: hidden;
  overflow:hidden;
  padding: 22px 0 0px 0;
  margin:40px 0 0 -4px;
  background-color: transparent;
  text-align: left;
  position: absolute;
  display: table;
  height:auto;
  -webkit-backface-visibility: hidden;
  -webkit-transition: all .3s .1s;
  -webkit-backface-visibility: hidden;
  -moz-transition: all .3s .1s; 
  -o-transition: all .3s .1s;
  transition: all .3s .1s;
  color:#ffffff;
  background-image : url('../pics/trans.gif');background-repeat: repeat;
}
 .cssmenu > ul > li:hover > ul  {
  opacity: 1;overflow:auto;
  margin:6px 0 0 -4px;
  visibility: visible;
  display: table;
  float:left;
  color:#ffffff;
  background-image : url('../pics/trans.gif');background-repeat: repeat;
}
.cssmenu > ul > li.main-nav-first-child:hover > ul{
  opacity: 1;overflow:auto;
  margin:10px 0 0 -4px;
  visibility: visible;
  display: table;
  float:left;
  color:#ffffff;
  background-image : url('../pics/trans.gif');background-repeat: repeat;
}
.cssmenu > ul > li > ul:before {
  content: '';
  display: block;
  border-color: transparent transparent #fafafa transparent;
  border-style: solid;
  border-width:9px;
  position: absolute;
  top: -1px;
  left:30%;
  margin-left: -10px;
  background-image : url('../pics/trans.gif');background-repeat: repeat;
}
.cssmenu ul > li.main-nav-first-child > ul:before {left:20%;top: -1px;}
.cssmenu > ul ul > li {
  position: relative;
  color:#ffffff;
  margin:0 0 1px 0;
  min-height:24px;background-image : url('../pics/trans.gif');background-repeat: repeat;
}
.cssmenu ul li.main-nav-first-child ul a, .cssmenu ul ul a {
  color: #ffffff;
  font-size: 18px;
  background-color: #323a45;
  padding: 20px 8px 18px 16px;
  min-height:20px;
  width:260px;
  line-height:20px;
  display: block;
  -webkit-transition: background-color 0.1s;
  -moz-transition: background-color 0.1s;
  -o-transition: background-color 0.1s;
  transition: background-color 0.1s; 
   -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.cssmenu ul ul a span{ display:table-cell }
.cssmenu ul li.main-nav-first-child ul a:hover, .cssmenu ul ul a:hover {
  background-color: #e74c3c;
  }
.cssmenu ul ul ul {
  visibility: hidden;
  overflow:hidden;
  opacity: 0;
  position: absolute;
  top: -16px;
  left: 206px;
  padding: 16px 0 20px 0;
  background-color: transparent;
  text-align: left;
  width: 180px;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;background-image : url('../pics/trans.gif');background-repeat: repeat;
  
}
.cssmenu ul ul ul a{
    color: #ffffff;
}
.cssmenu ul li.main-nav-last-child ul ul {
  left: -206px;
}
.cssmenu ul ul > li:hover > ul {
  opacity: 99;
  left: 285px;
  visibility: visible;overflow:auto;
  display:table;
}
.cssmenu ul > li.main-nav-last-child ul > li:hover > ul {
  opacity: 99;
  left: -285px;
  visibility: visible;
}
.cssmenu ul ul a:hover {
  background-color: #e74c3c;
  color: #ffffff;
}
#nav-toggle {
  display: none;
}

.cssmenu > ul > li a.main-nav-1-act {color:#e74c3c;}

.cssmenu > ul li.main-nav-first-child ul a.main-nav-2-act , .cssmenu > ul li.main-nav-first-child ul ul a.main-nav-3-act {background-color: #e74c3c;}
.cssmenu > ul ul a.main-nav-2-act , .cssmenu > ul ul ul a.main-nav-3-act {background-color: #e74c3c;}
.cssmenu > ul ul a.main-nav-2-act span, .cssmenu > ul ul ul a.main-nav-3-act span{padding-right:5px;}


/* FOOTER NAV */
#footer-nav {float:left;}
#footer-nav ul.footer-nav {display:block;list-style: none;float:left;margin:34px 0 0 0;padding:0 0 0 45px;}
#footer-nav ul.footer-nav li{display:block;float:left;width:180px;color:#ffffff;font-weight:bold;font-size: 12px}
#footer-nav ul.footer-nav li a{display:block;float:left;width:180px;color:#ffffff;font-size: 12px}
#footer-nav ul.footer-nav ul {border:0px;padding:0;margin:8px 0 0 0;float:left}
#footer-nav ul.footer-nav li ul li{display:block;float:left;width:220px;color:#95a3b5;font-weight:normal;font-size: 11px;line-height:12px;margin:0 0 6px 0;}
#footer-nav ul.footer-nav li ul li a{display:block;float:left;width:220px;color:#95a3b5;font-size: 11px}
#footer-nav ul.footer-nav li ul li a:hover{color:#1ba8de;}
#footer-nav ul.footer-nav li ul li a.footer-nav-2-act{color:#1ba8de;}

/* LEFT NAVI */
ul#left-navi{margin:0 0 0 0;padding:0;display:block;width:100%;}
ul#left-navi li{margin:0 0 1px 0;padding:0;min-height:1px;height:auto !important;height:1px;}
ul#left-navi li i {font-size: 16px;display:table-cell;color:#ffffff; }
ul#left-navi li a {background:#ecedf0;display:block;padding:18px 18px 18px 18px;font-weight:normal;font-size:21px;-webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px;}
ul#left-navi li.act-has-sub {margin:0 0 0 0;}
ul#left-navi li.act-has-sub a {margin:0 0 0 0;display:block;padding:16px 18px 16px 18px;font-weight:normal;background:#0a9a9d;color:#ffffff;-webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px;}
ul#left-navi li.act-has-sub a span {color:#ffffff}
ul#left-navi li.act-has-sub a i {color:#d4e5e9}
ul#left-navi li a:hover span ,ul#left-navi li a:hover {background:#0a9a9d;color:#ffffff}
ul#left-navi li a:hover i {color:#d4e5e9}
ul#left-navi li span {display:table-cell;padding:0 0 0 6px;color:#323a45}
ul#left-navi li ul {padding:0 0 0px 0;margin:1px 0 0 0;}
ul#left-navi li ul li{border:0px;padding:0px 0 0px 0px;min-height:1px;height:auto !important;height:1px;}
ul#left-navi li.act-has-sub ul li a, ul#left-navi li ul li a {display:block;padding:5px 18px 5px 12px;font-size:16px;background: #eaedf1;}
ul#left-navi li.act-has-sub ul li a span {color:#323a45}
ul#left-navi li.act-has-sub a:hover span ,ul#left-navi li.act-has-sub a:hover {background:#0a9a9d;color:#ffffff}
ul#left-navi li.act-has-sub ul li.sub-act a i{color:#0a9a9d;padding:0 0 0 26px;background:#d6dce4}
ul#left-navi li.act-has-sub ul li.sub-act a, ul#left-navi li.act-has-sub ul li.sub-act a:hover ,ul#left-navi li.act-has-sub ul li.sub-act a:hover span{background:#d6dce4;color:#323a45;}
ul#left-navi li.act-has-sub ul li a i {color:#323a45;padding:0 0 0 26px}
ul#left-navi li.act-has-sub ul li a:hover i {color:#ffffff;background:#0a9a9d;}
#left-navi li.act-has-sub ul li.sub-act a:hover i {background:#d6dce4;color:#0a9a9d;}