/*
 @author (c) 2013  Aji yahya <aji.yahya@gmail.com>
*  All rights reserved
*/
/* 
    Created on : 26.12.2013, 21:31:11
    Author     : Aji yahya <aji.yahya@gmail.com>
*/
.navToggle {background: #4a4f57}
.cssmenu{
    background: #252931;
    width: 260px;
    float:left;
    position: absolute;
    z-index: 5;
    display:block;
    top: 0;
    left: -260px;
    }
.nav-open .cssmenu {
    background: #252931;
    visibility: visible;
    display:block;
    clear:left;
    padding:0 0 0px 0;
    -webkit-box-shadow: 1px 0px 4px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    1px 0px 4px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         1px 0px 4px 0px rgba(50, 50, 50, 0.75);
  }
.nav-open .cssmenu ul {
    text-align: left;
    margin:0 0 0 0;
    z-index:4;
    width:100%;
  }
.nav-open .cssmenu ul li {
    display: block;
    float:left;
    margin:0 0 0 0;
    width:100%;
    border-bottom:1px solid #666c73;
}
.nav-open .cssmenu li a {
    color: white;
    background: #252931;
    display:block;
    font-size: 16px;
    text-decoration: none;
    padding: 10px 10px 10px 14px;
    cursor:pointer;
}
.nav-open .cssmenu li a:hover {
    background: #e74c3c;
}
.nav-open .cssmenu li a.main-nav-cur  {
    background: #e74c3c;
}
.nav-open .cssmenu li .nav-arrow.fa-color-1:hover{
    color: #ffffff;
}
.nav-open .cssmenu li:first-child a {
    border-top: none;
}
.nav-open .cssmenu li ul li {
   border-bottom:0px solid #e74c3c;
}
.nav-open .cssmenu li ul li a{
    padding:10px 10px 10px 10px;
    font-size: 14px;
}
.nav-open .cssmenu li ul li ul li a{
    padding:10px 10px 10px 10px;
    font-size: 14px;
}
.cssmenu > ul > li > ul {}
.nav-submenu{
    position:static;
    width:100%;
    display:none;
}
.cssmenu > ul > li:hover .nav-submenu {
    display:none;
}
.cssmenu ul ul a span{ display:table-cell }

.nav-open #wrap {
   left: 0;
    -webkit-transform: translate3d(260px, 0, 0);
    -moz-transform: translate3d(260px, 0, 0);
    -ms-transform: translate3d(260px, 0, 0);
    -o-transform: translate3d(260px, 0, 0);
    transform: translate3d(260px, 0, 0);
    -webkit-transition: -webkit-transform 500ms ease;
    -moz-transition: -moz-transform 500ms ease;
    -o-transition: -o-transform 500ms ease;
    transition: transform 500ms ease;
  }
#wrap {
   left: 0;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
.loading #wrap {
    -webkit-animation: none;
    -moz-animation: none;
    animation: none;
 }
.overlay {
    content: '';
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 5;
    top: 0;
    left: 0;
}
.cssmenu > ul ul a.main-nav-2-act span, .cssmenu > ul ul ul a.main-nav-3-act span{padding-right:5px;}
.nav-open .overlay {display: block;}
#nav-toggle {display:block;float:left;margin:0 0 0 0;padding:0 0 0 0; width: 35px;height: 35px;border: none;outline: none;cursor: pointer;position: relative;top: 8px;left: 20px;margin:0 0 0 0px;}
.nav-click {cursor:pointer;}
.nav-arrow {cursor:pointer;margin:0;/*background:#3d444e*/}
.touch-fa-chevron-up {display:block;padding:12px 15px 14px 15px;} 
.touch-fa-chevron-up:before { content: "\f077";}
.touch-fa-chevron-down {display:block;padding:12px 15px 14px 15px;} 
.touch-fa-chevron-down:before {content: "\f078";}
.nav-rotate {-webkit-transform:rotate(180deg); -moz-transform:rotate(180deg); -ms-transform:rotate(180deg); -o-transform:rotate(180deg); transform:rotate(180deg);color:#FFFFFF;}
body.nav-open {overflow-x:hidden;height:100%;}
#wrap {position: relative}
/* FOOTER NAV */
#footer-nav {float:left;width:100%;}
#footer-nav ul.footer-nav {display:block;list-style: none;float:left;margin:34px 0 0 0;padding:0 0 0 0px;width:100%;}
#footer-nav ul.footer-nav li{display:block;float:left;width:100%;color:#ffffff;font-weight:bold;font-size: 12px;background:#95a3b5;height:40px;line-height:40px;margin:0 0 1px 0;}
#footer-nav ul.footer-nav li a{;color:#252931;font-size: 14px;display: block;padding:0 0 0 20px;}
#footer-nav ul.footer-nav ul {display: none}

/* LEFT NAVI */
ul#left-navi {display:none;}



