/*
 @author (c) 2013  Aji yahya <aji.yahya@gmail.com>
*  All rights reserved
*/
/* 
    Created on : 26.12.2013, 21:31:11
    Author     : Aji yahya <aji.yahya@gmail.com>
*/
.cssmenu {
  height: 35px;
  display:block;
  width:100%;
  padding:6px 0 0 0;
  float:left;
  visibility: visible;
  left:0px;
  z-index:4;
}
.cssmenu ul {
  z-index:4;list-style: none; width: 100%;display:table; height:35px;margin: 0;padding: 0;background-image : url('../pics/trans.gif');background-repeat: repeat;
}
/* Fix FF table-layot width 
@-moz-document url-prefix() {.cssmenu ul {table-layout:fixed;}}*/
.cssmenu a {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-weight:normal;
}
.cssmenu > ul > li {
  height: 62px;
  line-height:20px;
  margin:0 0 0 0;
  padding:7px 0 0 0;
  position: relative;
  top:0;left:0;
  text-align: center; float:left;background-image : url('../pics/trans.gif');background-repeat: repeat;
}

.cssmenu > ul > li a.main-nav-wide-child-a{}
.cssmenu > ul > li > a {
  color: #ffffff;
  font-size: 16px;
  padding:0 20px 0 20px;
  line-height: 33px;
  height:33px;
  display: inline-block;
  border-right:1px solid #4c545f;
}
.cssmenu > ul > li.main-nav-last-child > a {
  border-right:0px;
}
.cssmenu > ul > li:hover  a {
  color: #e74c3c;position: relative;
}
.cssmenu > ul > li:hover > ul > li a{
  color:#ffffff;
}
.cssmenu > ul > li > ul {
  opacity: 0;
  visibility: hidden;
  overflow:hidden;
  padding: 10px 0 0px 0;
  margin:47px 0 0 0px;
  background-color: transparent;
  text-align: left;
  position: absolute;
  width: 180px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 5px;background-image : url('../pics/trans.gif');background-repeat: repeat;
 }
 .cssmenu > ul > li:hover > ul {
  opacity: 1;overflow:auto;
  margin-top:14px;
  visibility: visible;background-image : url('../pics/trans.gif');background-repeat: repeat;color:#ffffff;
}
.cssmenu > ul > li.main-nav-first-child > ul {
   margin:14px 0 0 0px;
 }
.cssmenu > ul > li.main-nav-tight-child > ul {
   margin:14px 0 0 0px;
 }
 .cssmenu > ul > li.main-nav-last-child > ul {
   margin:14px 0 0 0px;
 }
.cssmenu > ul > li.main-nav-first-child:hover > ul {
  margin:14px 0 0 0px;margin:27px 0 0 0px\9;
}
.cssmenu > ul > li.main-nav-last-child:hover > ul {
  margin:14px 0 0 0px;margin:27px 0 0 0px\9;
}
.cssmenu > ul > li.main-nav-tight-child:hover > ul {
   margin:14px 0 0 0px;margin:27px 0 0 0px\9;
}
.cssmenu > ul > li > ul:before {
  content: '';
  display: block;
  border-color: transparent transparent #fff transparent;
  border-style: solid;
  border-width: 9px;
  position: absolute;
  top: -9px;
  left:45px;
  margin-left: -10px;
}
.cssmenu > ul > li.main-nav-first-child > ul:before {
  left: 50px;
}
.cssmenu > ul > li.main-nav-last-child > ul:before {
  left: 50px;
}
.cssmenu > ul ul > li  {
   color:#ffffff;
  background-image : url('../pics/trans.gif');background-repeat: repeat;
  margin:0 0 0 0;
}
.cssmenu ul ul a {
  color: #ffffff;
  font-size: 14px;
  background-color: #323a45;
  padding: 10px 8px 4px 16px;
  min-height:24px;
  width:260px;
  line-height:30px;
  display: block;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}
.cssmenu ul ul a span{ display:table-cell }

.cssmenu ul ul ul {
  padding: 0px 0 0px 0px;
  background-color: transparent;
  text-align: left;
 -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;background-image : url('../pics/trans.gif');background-repeat: repeat;
  
}
.cssmenu ul ul ul a {
  color: #ffffff;
  font-size: 13px;
  background-color: #323a45;
  padding: 7px 8px 4px 18px;
  min-height:24px;
  width:258px;
  line-height:16px;
  display: block;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}
.cssmenu ul li.main-nav-last-child ul ul {
  left: -206px;
}
.cssmenu ul ul > li:hover > ul {
  
  left: 285px;
}
.cssmenu ul > li.main-nav-last-child ul > li:hover > ul {
  opacity: 99;
  left: -285px;
  visibility: visible;
}
.cssmenu ul ul a:hover {
 background-color: #e74c3c;
  color: #ffffff;
}
#nav-toggle {
  display: none;
}
.itemClicked {}
.nav-click {display:none;visibility: hidden}
.cssmenu > ul ul a.main-nav-2-act span, .cssmenu > ul ul ul a.main-nav-3-act span{padding-right:5px;}

/* FOOTER NAV */
#footer-nav {float:left;}
#footer-nav ul.footer-nav {display:block;list-style: none;float:left;margin:34px 0 0 0;padding:0 0 0 45px;}
#footer-nav ul.footer-nav li{display:block;float:left;width:180px;color:#ffffff;font-weight:bold;font-size: 12px}
#footer-nav ul.footer-nav li a{display:block;float:left;width:180px;color:#ffffff;font-size: 12px}
#footer-nav ul.footer-nav ul {border:0px;padding:0;margin:8px 0 0 0;float:left}
#footer-nav ul.footer-nav li ul li{display:block;float:left;width:220px;color:#95a3b5;font-weight:normal;font-size: 11px;line-height:12px;margin:0 0 6px 0;}
#footer-nav ul.footer-nav li ul li a{display:block;float:left;width:220px;color:#95a3b5;font-size: 11px}
#footer-nav ul.footer-nav li ul li a:hover{color:#1ba8de;}
/* LEFT NAVI */
ul#left-navi{margin:0 0 0 0;padding:0;display:block;width:100%;}
ul#left-navi li{margin:0 0 1px 0;padding:0;min-height:1px;height:auto !important;height:1px;}
ul#left-navi li i {font-size: 16px;display:table-cell;color:#ffffff; }
ul#left-navi li a {background:#ecedf0;display:block;padding:12px 18px 12px 18px;font-weight:normal;font-size:18px;-webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px;}
ul#left-navi li.act-has-sub {margin:0 0 0 0;}
ul#left-navi li.act-has-sub a {margin:0 0 0 0;display:block;padding:16px 18px 16px 18px;font-weight:normal;background:#0a9a9d;color:#ffffff;-webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px;}
ul#left-navi li.act-has-sub a span {color:#ffffff}
ul#left-navi li.act-has-sub a i {color:#d4e5e9}
ul#left-navi li a:hover span ,ul#left-navi li a:hover {background:#0a9a9d;color:#ffffff}
ul#left-navi li a:hover i {color:#d4e5e9}
ul#left-navi li span {display:table-cell;padding:0 0 0 6px;color:#323a45}
ul#left-navi li ul {padding:0 0 0px 0;margin:1px 0 0 0;}
ul#left-navi li ul li{border:0px;padding:0px 0 0px 0px;min-height:1px;height:auto !important;height:1px;}
ul#left-navi li.act-has-sub ul li a, ul#left-navi li ul li a {display:block;padding:5px 18px 5px 12px;font-size:14px;background: #eaedf1;}
ul#left-navi li.act-has-sub ul li a span {color:#323a45}
ul#left-navi li.act-has-sub a:hover span ,ul#left-navi li.act-has-sub a:hover {background:#0a9a9d;color:#ffffff}
ul#left-navi li.act-has-sub ul li.sub-act a i{color:#0a9a9d;padding:0 0 0 26px;background:#d6dce4}
ul#left-navi li.act-has-sub ul li.sub-act a, ul#left-navi li.act-has-sub ul li.sub-act a:hover ,ul#left-navi li.act-has-sub ul li.sub-act a:hover span{background:#d6dce4;color:#323a45;}
ul#left-navi li.act-has-sub ul li a i {color:#323a45;padding:0 0 0 26px}
ul#left-navi li.act-has-sub ul li a:hover i {color:#ffffff;background:#0a9a9d;}
#left-navi li.act-has-sub ul li.sub-act a:hover i {background:#d6dce4;color:#0a9a9d;}

