/* 
 *  @author (c) 2013  Aji yahya <aji.yahya@gmail.com>
 *  All rights reserved
*/

.fa-color-1 {
    color: #acb2bb;
    padding: 0 7px 0 0;
}

a:hover .fa-color-1 {
    color: #ffffff;
}

.fa-marginr-5 {
    margin-right: 5px;
}

.fa-marginr-10 {
    margin-right: 10px;
}

.fa-marginr-15 {
    margin-right: 15px;
}

.fa-marginr-20 {
    margin-right: 20px;
}
