@font-face {
	font-family: 'Istok Web';
	font-style: normal;
	font-weight: 400;
	src: url(../fonts/Istok_Web-normal-400.woff) format('woff');
	unicode-range: U+0-10FFFF;
}

@font-face {
	font-family: 'Istok Web';
	font-style: normal;
	font-weight: 700;
	src: url(../fonts/Istok_Web-normal-700.woff) format('woff');
	unicode-range: U+0-10FFFF;
}

@font-face {
	font-family: 'Istok Web';
	font-style: italic;
	font-weight: 400;
	src: url(../fonts/Istok_Web-italic-400.woff) format('woff');
	unicode-range: U+0-10FFFF;
}

@font-face {
	font-family: 'Istok Web';
	font-style: italic;
	font-weight: 700;
	src: url(../fonts/Istok_Web-italic-700.woff) format('woff');
	unicode-range: U+0-10FFFF;
}

