                /*
 @author (c) 2013  Aji yahya <aji.yahya@gmail.com>
*  All rights reserved
*/

/* Large desktop */ 
@media only screen and (min-width: 1200px) {
    #header {width:1010px;margin: 0 auto;height:166px;}
    #main-nav {height:71px;border-bottom:10px solid #e74c3c;}
    #logo {float:left;}
    #logo img{width:234px;margin:34px 0 0 0;padding:0;}
    #metanavi {float:right;margin:15px 0 0 0;display: block;}
    .metanavi-home {float:left;width:40px;height:40px;margin:0 0 0 8px;}
    .metanavi-kontakt {float:left;width:40px;height:40px;}
    .metanavi-home img , .metanavi-kontakt img {width:40px;height:40px;}
    .s-piloten-info-wrap {position:relative;float:right;width:118px;height:118px;z-index:4}
    .s-piloten-info {position:absolute;top:-112px;text-align: center;}
    .pinfo-button {position:absolute;right:0;width:118px;height:118px;top:-112px;text-align: center}
    .pinfo-button a{display:block;width:118px;height:118px;display:block;text-align: center}
    .pinfo-button span, .pinfo-button i {display:block;}
    .pinfo-button i {margin:30px 0 10px 34px;padding:3px;}
    .pinfo-button span{margin:0 0 0 0;line-height:14px;}
    .first-content-wrap {margin:-1px 0 0 0;width:100%;display: block;clear:both;padding:0 0 60px 0;}
    .first-content {width:1010px;margin:0 auto;}
    .first-content-subpage {padding:30px 0 0 40px;display: table-cell;vertical-align:top;width:710px}
    .content-aktuelles-main{padding:52px 0 0 0;}
    .content-subpages-main {padding:22px 0 0 0;}
    .flugplatz-status-wrap {display: table-cell;vertical-align:top;min-height:100px;height:auto !important;height:100px;}
    .flugplatz-status-title {height:58px;width:270px;line-height:58px;padding:0 6px 0 16px;position: relative}
    .content-subpages-main .flugplatz-status-title {height:58px;width:95%;line-height:58px;padding:0 6px 0 16px;position: relative;float:left;}
    .flugplatz-status-content {padding:10px 16px 16px 16px;display:block;float:left;}
    .content-subpages-main .flugplatz-status-content {padding:10px 6px 16px 16px;display:block;float:left;background:#eaedf1;width:95%;color:#282828;margin:0 0 40px 0;}
    .content-subpages-main .flugplatz-status-content span{color:#282828;}
    .aktuelles-wrap{display: table-cell;vertical-align:top;padding:0 0 0 68px;}
    .pagination {float:left;display: table-cell;}
    .pagination li {margin:18px 18px 0 0;float:left;}
    .second-content {width:1010px;margin:0 auto;}
    .news-columns {width:100%;}
    .news-cloumn-left, .news-cloumn-mid, .news-cloumn-right {float:left;display:block;display:table-cell; width:292px;}
    .news-cloumn-left, .news-cloumn-mid {margin-right:64px;}
    .news-cloumn-left:last-child {margin-right:0;}
    .news-column-main {padding:22px;height:130px;}
    .news-column-link a {display: block;padding:10px 20px 10px 20px;display:table-cell;width:252px;color:#757a81;}
    .news-column-link a:hover {color:#fff;}
    .news-archiv-link {float:right;padding:0 10px 0 10px;margin:10px 15px 0 0;}
    .news-archiv-link a:hover {color:#fff;}
    a.more-link {display: inline-block;padding:0 10px 0 10px;margin:0px 15px 0 0;text-decoration: none}
    a.more-link:hover {color:#e74c3c;text-decoration: none}
    .second-content-subpage {width:1010px;margin:0 auto;}
    .second-content-subpage-right {padding:10px 0 0 280px;display: table-cell;vertical-align:top;width:100%;}
    .third-content {width:1010px;margin:0 auto;}
    .first-content-navi {padding:30px 10px 0 0px;display: table-cell;width:260px;vertical-align:top;}
    #footer-content {width:1010px;margin:0 auto;}
    .copyright-logo img {width:120px;padding:10px 20px 0 0;float:left;display:block;}
    #copyright{float:left;width:50%;line-height: 18px;font-size:13px;color:#eaedf1;margin:30px 0 0 0;}
    #copyright p{margin:8px 0 0 0;}
    .tel {cursor:text;color:#ffffff;text-decoration:none;}
    #socialmedia {text-align:right;float:right;padding:40px 0px 0 0;}
    #socialmedia div {float:left;width:50px;height:50px;margin:0 0 0 12px;display:block;}
    #webcam-button-wrap {position:relative;width:1010px;margin:0 auto;}
    #webcam-button {position:absolute;right:0;width:118px;height:118px;top:-59px;}
    #webcam-button span{margin:-3px 0 0 0;float:left;width:100%;}
    #webcam-button i{margin:-12px 0 0 0;}
    #webcam-button a{display: block;width:118px;height:118px;}
    #footer-contact {height:91px;background-color: #eaedf1;width:100%;border-bottom: 1px solid #dbdee3;}
    .footer-contact-wrap {width:1010px;margin:0 auto;text-align: right}
    .footer-nav {list-style: none;text-align: right;margin:0 150px 0 0;float:right;padding:29px 0 0 0}
    .footer-nav li{list-style: none; display:inline;margin:0 0 0 64px;}
    .kontakt-button-wrap {position:relative;right:0;}
    .kontakt-button {position:absolute;right:0;width:118px;height:118px;top:-59px;}
    .kontakt-button a{display: block;width:118px;height:118px;text-align:center;padding:28px 0 0 0;}
    .kontakt-button span , .kontakt-button i{display: block;margin:0 0 0 0;padding:0 0 0 0;}
    .kontakt-button span {margin:-6px 0 0 0}
    .devices-trenner {display:none}
    .dropdown-tool-wrap {position:relative;float:right;width:118px;}
    .dropdown-tool {position:absolute;right:0;width:118px;height:118px;top:-108px;text-align: center;z-index:4}
    .dropdown-tool a{display:block;width:118px;height:118px;display:block;text-align: center}
    .dropdown-tool span, .pinfo-button i {display:block;}
    .dropdown-tool i {margin:36px 0 10px 0px;padding:7px;}
    .dropdown-tool span{margin:0 0 0 0;line-height:14px;}
    .dropdown-tool-menu {text-align: center;width:118px;height:auto;display:none;}
    .dropdown-tool-item {display:block;width:100px;height:100px;display:block;text-align: center;margin:0 auto}
    .dropdown-tool-item a {margin:0 0 0 0;padding:0 0 0 0;text-align: center;width:100px;height:100px;}
    .dropdown-tool .dropdown-tool-item i {margin:22px 0 0 0;padding:0px;}
    .dropdown-tool .dropdown-tool-item span{margin:-10px 0 0 0;line-height:11px;}
    .dropdown-tool-trenner {width:1px;height:15px;background:#ebeef1;margin:0 auto;}
    .contenttable {border: 1px solid #C7C7C7; border-collapse: collapse; text-align: left; width: 100%; } .contenttable td, .contenttable th { padding: 3px 4px; }.contenttable thead th {background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ecedf0), color-stop(1, #ecedf0) );background:-moz-linear-gradient( center top, #ecedf0 5%, #ecedf0 100% );filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ecedf0', endColorstr='#ecedf0');background-color:#ecedf0; color:#323a45; font-size: 15px; font-weight: bold; border-left: 1px solid #C7C7C7; } .contenttable thead th:first-child { border: none; }.contenttable tbody td { color: #000000; border-left: 1px solid #C7C7C7;font-size: 15px;border-bottom: 1px solid #C7C7C7;font-weight: normal; }.contenttable tbody td:first-child { border-left: none; }.contenttable tbody tr:last-child td { border-bottom: none; }
    .csc-mailform-field {width:60%;}
} 
/* Portrait tablet to landscape and desktop */ 
@media only screen and (min-width: 769px) and (max-width: 1199px) {
    #header {width:100%;margin: 0 auto;height:100px;}
    #main-nav {height:62px;border-bottom:7px solid #e74c3c;}
    #logo img {width:135px;padding:20px 20px;float:left;}
    #metanavi {float:right;margin:15px 20px 0 0;display: block;}
    .metanavi-home {float:left;width:40px;height:40px;margin:0 0 0 8px;}
    .metanavi-kontakt {float:left;width:40px;height:40px;}
    .metanavi-home img , .metanavi-kontakt img {width:40px;height:40px;}
    .s-piloten-info-wrap {position:relative;float:right;width:118px;height:118px;z-index:4}
    .s-piloten-info {position:absolute;top:-112px;text-align: center}
    .pinfo-button {position:absolute;right:0;width:118px;height:118px;top:-112px;text-align: center}
    .pinfo-button a{display:block;width:118px;height:118px;display:block;text-align: center}
    .pinfo-button span, .pinfo-button i {display:block;}
    .pinfo-button i {margin:30px 0 10px 34px;padding:3px;}
    .pinfo-button span{margin:0 0 0 0;line-height:14px;}
    .first-content-wrap {margin:-1px 0 0 0;width:100%;display: inine-block;clear:both;padding:0 0 60px 0;}
    .first-content {width:100%;margin:0 auto;}
    .first-content-subpage {padding:50px 0 0 20px;display: table-cell;vertical-align:top;}
    .content-aktuelles-main{padding:52px 0 20px 0;}
    .content-subpages-main {padding:0px 0 20px 0;}
    .flugplatz-status-wrap {display: table-cell;vertical-align:top;min-height:100px;height:auto !important;height:100px;}
    .flugplatz-status-title {height:58px;width:270px;line-height:58px;padding:0 6px 0 16px;position: relative}
    .content-subpages-main .flugplatz-status-title {height:58px;width:95%;line-height:58px;padding:0 6px 0 16px;position: relative}
    .flugplatz-status-content {padding:10px 16px 16px 16px;display:block;float:left;}
    .content-subpages-main .flugplatz-status-content {padding:10px 6px 16px 16px;display:block;float:left;background:#eaedf1;width:95%;color:#282828;margin:0 0 40px 0;}
    .content-subpages-main .flugplatz-status-content span{color:#282828;}
    .aktuelles-wrap{display: table-cell;vertical-align:top;padding:0 0 0 68px;}
    .pagination {float:left;display: table-cell;}
    .pagination li {margin:18px 18px 0 0;float:left;}
    .second-content-wrap { padding:0 20px 0 20px;}
    .second-content {width:100%;margin:0 0;padding:0px 0 0 0;}
    .news-columns {display: table-cell;vertical-align:top;min-height:100px;height:auto !important;height:100px;}
    .news-cloumn-left, .news-cloumn-mid, .news-cloumn-right {display:block;float:left;width:100%;margin:0 0 20px 0;}
    .news-column-main {padding:22px;}
    .news-column-link a{display: block;padding:0px 20px 10px 20px;background:#ecedf0;color:#757a81;}
    .news-column-link a:hover {color:#0a9a9d;}
    .news-archiv-link {float:left;padding:0 10px 0 10px;margin:10px 15px 0 0;}
    .news-archiv-link a:hover {color:#fff;}
    a.more-link {display: inline-block;padding:0 10px 0 10px;margin:0px 15px 0 0;text-decoration: none}
    a.more-link:hover {color:#e74c3c;text-decoration: none}
    .third-content {margin:0 20px;}
    .first-content-navi {padding:40px 0 0 20px;display: table-cell;width:260px;vertical-align:top;}
    #footer-content {width:100%;}
    .copyright-logo img {width:90px;padding:10px 20px 0 0;float:left;display:block;}
    .copyright-text {float:left;display:block;text-align:left;}
    #copyright{margin:0 auto;width:50%;line-height: 18px;font-size:13px;color:#eaedf1;margin:30px 0 0 20px;}
    #copyright p{margin:8px 0 0 0;}
    .tel {cursor:text;color:#ffffff;text-decoration:none;}
    #socialmedia {text-align:right;float:right;padding:8px 20px 0 0;}
    #socialmedia div {float:left;width:50px;height:50px;margin:0 0 0 12px;display:block;}
    #webcam-button-wrap {position:relative;width:100%;margin:0 auto;}
    #webcam-button {position:absolute;right:0;width:118px;height:118px;top:-59px;}
    #webcam-button span{margin:-3px 0 0 0;float:left;width:100%;}
    #webcam-button i{margin:-12px 0 0 0;}
    #webcam-button a{display: block;width:118px;height:118px;}
    #footer-contact {height:91px;background-color: #eaedf1;width:100%;border-bottom: 1px solid #dbdee3;}
    .footer-contact-wrap {width:100%;margin:0 auto;text-align: right}
    .footer-nav {list-style: none;text-align: right;margin:0 150px 0 0;float:right;padding:29px 0 0 0}
    .footer-nav li{list-style: none; display:inline;margin:0 0 0 64px;}
    .kontakt-button-wrap {position:relative;right:0;}
    .kontakt-button {position:absolute;right:0;width:118px;height:118px;top:-59px;z-index:4}
    .kontakt-button a{display: block;width:118px;height:118px;text-align:center;padding:28px 0 0 0;}
    .kontakt-button span , .kontakt-button i{display: block;margin:0 0 0 0;padding:0 0 0 0;}
    .kontakt-button span {margin:-6px 0 0 0}
    .devices-trenner {display:none}
    .dropdown-tool-wrap {position:relative;float:right;width:118px;}
    .dropdown-tool {position:absolute;right:0;width:118px;height:118px;top:-108px;text-align: center;z-index:4}
    .dropdown-tool a{display:block;width:118px;height:118px;display:block;text-align: center}
    .dropdown-tool span, .pinfo-button i {display:block;}
    .dropdown-tool i {margin:36px 0 10px 0px;padding:7px;}
    .dropdown-tool span{margin:0 0 0 0;line-height:14px;}
    .dropdown-tool-menu {text-align: center;width:118px;height:auto;display:none;}
    .dropdown-tool-item {display:block;width:100px;height:100px;display:block;text-align: center;margin:0 auto}
    .dropdown-tool-item a {margin:0 0 0 0;padding:0 0 0 0;text-align: center;width:100px;height:100px;}
    .dropdown-tool .dropdown-tool-item i {margin:22px 0 0 0;padding:0px;}
    .dropdown-tool .dropdown-tool-item span{margin:-10px 0 0 0;line-height:11px;}
    .dropdown-tool-trenner {width:1px;height:15px;background:#ebeef1;margin:0 auto}
    .contenttable {border: 1px solid #C7C7C7; border-collapse: collapse; text-align: left; width: 100%; } .contenttable td, .contenttable th { padding: 3px 4px; }.contenttable thead th {background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ecedf0), color-stop(1, #ecedf0) );background:-moz-linear-gradient( center top, #ecedf0 5%, #ecedf0 100% );filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ecedf0', endColorstr='#ecedf0');background-color:#ecedf0; color:#323a45; font-size: 15px; font-weight: bold; border-left: 1px solid #C7C7C7; } .contenttable thead th:first-child { border: none; }.contenttable tbody td { color: #000000; border-left: 1px solid #C7C7C7;font-size: 15px;border-bottom: 1px solid #C7C7C7;font-weight: normal; }.contenttable tbody td:first-child { border-left: none; }.contenttable tbody tr:last-child td { border-bottom: none; }
    .csc-mailform-field {width:60%;}
} 
/* Landscape phone to portrait tablet */ 
@media only screen and (max-width: 768px) {
    #header {width:100%;margin: 0 auto;height:100px;}
    #main-nav {height:51px;border-bottom:5px solid #e74c3c;}
    #logo img {width:135px;padding:10px 20px;float:left;}
    #metanavi {float:right;margin:15px 20px 0 0;display: block;}
    .metanavi-home {float:left;width:40px;height:40px;margin:0 0 0 8px;}
    .metanavi-kontakt {float:left;width:40px;height:40px;}
    .metanavi-home img , .metanavi-kontakt img {width:40px;height:40px;}
    .s-piloten-info-wrap {display: block;width: 100%; float: left;margin:10px 0 20px 0;height:58px;line-height:58px;padding:0 0px 0 0px;background:#e74c3c;-webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px;}
    .pinfo-button {width:100%;border-radius:0;-webkit-border-radius: 0;-moz-border-radius: 0; -khtml-border-radius:0;}
    .pinfo-button a{width:100%;display:block;padding:5px 10px 5px 10px;float:left;}
    .pinfo-button span, .pinfo-button i {display:block;float:left;}
    .pinfo-button i {margin:0px 16px 0 0 ;padding:3px;float:right;}
    .pinfo-button span{padding:18px 0 0 8px;line-height:14px;color:#fff;font-size:22px}
    .pinfo-button.circle-2{height:70px;background:none;}
    .pinfo-button.circle-2:hover{box-shadow:none;-webkit-box-shadow:none; -moz-box-shadow:none}
    .pinfo-button i {width:42px;height: 42px}
    .first-content-wrap {margin:-1px 0 0 0;width:100%;display: block;clear:both;padding:0px;}
    .first-content {width:100%;margin:0 auto;}
    .content-aktuelles-main , .content-subpages-main{padding:10px 20px 0 20px;}
    .flugplatz-status-wrap {display: block;width: 100%; float: left;min-height:100px;height:auto !important;height:100px;}
    .flugplatz-status-title {height:58px;line-height:58px;padding:0 6px 0 16px;position: relative}
    .flugplatz-status-content {padding:10px 16px 16px 16px;display:block;float:left;}
    .content-subpages-main .flugplatz-status-content {padding:10px 0 16px 0;display:block;float:left;background:#eaedf1;color:#282828;width:100%;margin:0 0 40px 0;}
     .content-subpages-main .flugplatz-status-content span{color:#282828;padding:0 16px 0 16px;}
     .content-subpages-main .flugplatz-status-content p{padding:0 16px 0 16px;}
    .aktuelles-wrap{display: table;vertical-align:top;padding:40px 0 20px 0px;}
    .aktuelles-wrap h1{padding:0 0 20px 0;}
    .pagination {float:left;display: table-cell;}
    .pagination li {margin:18px 18px 0 0;float:left;}
    .second-content-wrap { padding:0 20px 0 20px;}
    .second-content {width:100%;margin:0 0;padding:0px 0 0 0;}
    .news-columns {display: table-cell;vertical-align:top;min-height:100px;height:auto !important;height:100px;}
    .news-columns h1 {display:none;visibility:hidden}
    .news-cloumn-left, .news-cloumn-mid, .news-cloumn-right {display:block;float:left;width:100%;margin:10px 0 10px 0;}
    .news-column-main {padding:22px;}
    .news-column-link a{display: block;padding:0px 20px 10px 20px;background:#ecedf0;color:#757a81;}
    .news-column-link a:hover {color:#0a9a9d;}
    .news-archiv-link {float:left;padding:0 10px 0 10px;margin:10px 15px 0 0;}
    .news-archiv-link a:hover {color:#fff;}
    a.more-link {display: inline-block;padding:0 10px 0 10px;margin:0px 15px 0 0;text-decoration: none}
    a.more-link:hover {color:#e74c3c;text-decoration: none}
    .third-content {margin:0 20px;}
    .first-content-navi {display:none;visibility:hidden;}
    .copyright-logo img {width:80px;padding:10px 20px 0 0;float:left;display:block;}
    .copyright-text {float:left;display:block;text-align:left;}
    #copyright{margin:0 auto;width:100%;line-height: 18px;font-size:13px;color:#eaedf1;margin:30px 0 0 20px;}
    #copyright p{margin:8px 0 0 0;}
    .tel {cursor:text;color:#ffffff;text-decoration:none;}
    #socialmedia {text-align:right;float:left;padding:38px 20px 0 105px;}
    #socialmedia div {float:left;width:50px;height:50px;margin:0 0 0 12px;display:block;}
    #webcam-button-wrap {background:#0a9a9d;margin:20px;height:40px;padding:0 0px 20px 0px;-webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px;}
    #webcam-button {background:#0a9a9d;display: block;float: left;width:100%;border-radius:0;-webkit-border-radius: 0;-moz-border-radius: 0; -khtml-border-radius:0;height:40px;}
    #webcam-button a{width:100%;display:block;padding:0 0 10px 0;float:left;border-radius:0;-webkit-border-radius: 0;-moz-border-radius: 0; -khtml-border-radius:0;}
    #webcam-button span, #webcam-button i {display:block;float:left;}
    #webcam-button i {margin:5px 5px 0 0 ;padding:3px;float:right;color:#fff;font-size:42px}
    #webcam-button span{padding:22px 0 0 8px;line-height:14px;color:#fff;font-size:22px}
    #webcam-button.circle-2{height:70px;background:none;}
    #webcam-button.circle-2:hover{box-shadow:none;-webkit-box-shadow:none; -moz-box-shadow:none}
    #footer-contact {height:91px;background-color: #eaedf1;width:100%;border-bottom: 1px solid #dbdee3;}
    .footer-contact-wrap {width:100%;margin:0 auto;text-align: right}
    .footer-nav {list-style: none;text-align: right;margin:0 0 0 0;float:left;padding:21px 0 0 0}
    .footer-nav li{list-style: none; display:inline;margin:0 0 0 20px;}
    .kontakt-button-wrap {}
    .kontakt-button.circle-2 {float:left;margin:10px 0 0 24px;}
    .kontakt-button.circle-2:hover {box-shadow:none;-webkit-box-shadow:none; -moz-box-shadow:none;}
    .kontakt-button a{display: block;text-align:center;padding:0px 0 0 0;}
    .kontakt-button i{display: none;}
    .kontakt-button span:hover{color:#0a9a9d;}
    .devices-trenner {width:100%;padding:0 0 0px 0; border-bottom:4px solid #eaedf1}
    .dropdown-tool-wrap {display:none}
    .contenttable {border: 1px solid #C7C7C7; border-collapse: collapse; text-align: left; width: 100%; } .contenttable td, .contenttable th { padding: 3px 4px; }.contenttable thead th {background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ecedf0), color-stop(1, #ecedf0) );background:-moz-linear-gradient( center top, #ecedf0 5%, #ecedf0 100% );filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ecedf0', endColorstr='#ecedf0');background-color:#ecedf0; color:#323a45; font-size: 15px; font-weight: bold; border-left: 1px solid #C7C7C7; } .contenttable thead th:first-child { border: none; }.contenttable tbody td { color: #000000; border-left: 1px solid #C7C7C7;font-size: 15px;border-bottom: 1px solid #C7C7C7;font-weight: normal; }.contenttable tbody td:first-child { border-left: none; }.contenttable tbody tr:last-child td { border-bottom: none; }
   .csc-mailform-field {width:80%;}
  }
/* Landscape phones and down */ 
@media only screen and (max-width: 480px) {
    #header {margin: 0 auto;height:74px;}
    #main-nav {height:51px;border-bottom:3px solid #e74c3c;}
    #header-image{display: none}
    #metanavi {float:right;margin:15px 20px 0 0;display: block;}
    .metanavi-home {float:left;width:40px;height:40px;margin:0 0 0 8px;}
    .metanavi-kontakt {float:left;width:30px;height:30px;}
    .metanavi-home img , .metanavi-kontakt img {width:30px;height:30px;}
    #logo img {width:100px;padding:10px 20px;float:left;display:block;}
    .s-piloten-info-wrap {display: block;width: 100%; float: left;margin:10px 0 20px 0;height:58px;line-height:58px;padding:0 0px 0 0px;background:#e74c3c;-webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px;}
    .pinfo-button {width:100%;border-radius:0;-webkit-border-radius: 0;-moz-border-radius: 0; -khtml-border-radius:0;}
    .pinfo-button a{width:100%;display:block;padding:5px 10px 5px 10px;float:left;}
    .pinfo-button span, .pinfo-button i {display:block;float:left;}
    .pinfo-button i {margin:0px 16px 0 0 ;padding:3px;float:right;}
    .pinfo-button span{padding:18px 0 0 8px;line-height:14px;color:#fff;font-size:22px}
    .pinfo-button.circle-2{height:70px;background:none;}
    .pinfo-button.circle-2:hover{box-shadow:none;-webkit-box-shadow:none; -moz-box-shadow:none}
    .first-content-wrap {margin:-1px 0 0 0;width:100%;display: block;clear:both;padding:0px;}
    .first-content {width:100%;margin:0 auto;}
    .content-aktuelles-main , .content-subpages-main{padding:10px 20px 20px 20px;}
    .flugplatz-status-wrap {display: block;width: 100%; float: left;min-height:100px;height:auto !important;height:100px;}
    .flugplatz-status-title {height:58px;line-height:58px;padding:0 6px 0 16px;position: relative}
    .flugplatz-status-content {padding:10px 16px 16px 16px;display:block;float:left;}
    .content-subpages-main .flugplatz-status-content {padding:10px 0 16px 0;display:block;float:left;background:#eaedf1;color:#282828;width:100%;margin:0 0 40px 0;}
      .content-subpages-main .flugplatz-status-content span{color:#282828;padding:0 16px 0 16px;}
     .content-subpages-main .flugplatz-status-content p{padding:0 16px 0 16px;}
    .aktuelles-wrap{display: table;vertical-align:top;padding:40px 0 0 0;}
    .aktuelles-wrap h1{padding:0 0 20px 0;}
    .pagination {float:left;display: table-cell;}
    .pagination li {margin:18px 18px 0 0;float:left;}
    .second-content-wrap { padding:0 20px 0 20px;}
    .second-content {width:100%;margin:0 0;padding:0px 0 0 0;}
    .news-columns {display: table-cell;vertical-align:top;min-height:100px;height:auto !important;height:100px;}
    .news-columns h1 {display:none;visibility:hidden}
    .news-cloumn-left, .news-cloumn-mid, .news-cloumn-right {display:block;float:left;width:100%;margin:10px 0 10px 0;}
    .news-column-main {padding:22px;}
    .news-column-link a {display: block;padding:0px 20px 10px 20px;background:#ecedf0;color:#757a81;}
    .news-column-link a:hover {color:#0a9a9d;}
    .news-archiv-link {float:left;padding:0 10px 0 10px;margin:10px 15px 0 0;}
    .news-archiv-link a:hover {color:#fff;}
    a.more-link {display: inline-block;padding:0 10px 0 10px;margin:0px 15px 0 0;text-decoration: none}
    a.more-link:hover {color:#e74c3c;text-decoration: none}
    .third-content {margin:0 20px;}
    .first-content-navi {display:none;}
    #footer-content {width:100%;}
   .copyright-logo img {width:80px;padding:10px 20px 0 20px;float:left;display:block;}
    .copyright-text {float:left;display:block;text-align:left;}
    #copyright{line-height: 18px;font-size:13px;color:#eaedf1;margin:30px 0 0 0px;padding: 0 0 0 0;display: table}
    #copyright p{margin:8px 0 0 0;}
    #copyright div {display: table-cell;vertical-align:top;margin:0 0 0 0}
    .tel {cursor:text;color:#ffffff;text-decoration:none;}
    #socialmedia {text-align:right;float:left;padding:40px 20px 0 90px;}
    #socialmedia div {float:left;width:50px;height:50px;margin:0 0 0 12px;display:block;}
   .dropdown-tool-wrap {display:none}
   table, thead, tbody, th, td, tr { display: block; }
   tr { border-bottom: 1px solid #ccc; padding:0 0 0 0;}
   td { border:0px solid #eee; position: relative;padding-left: 50%; }
   td:before { position: absolute;top: 6px;left: 6px;width: 45%; padding-right: 10px; white-space: nowrap;}	
  .csc-mailform-field {width:90%;}
.contenttable {border: 0px solid #C7C7C7; border-collapse: collapse; text-align: left; width: 100%; } .contenttable td, .contenttable th { padding: 3px 4px; }.contenttable thead th {background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ecedf0), color-stop(1, #ecedf0) );background:-moz-linear-gradient( center top, #ecedf0 5%, #ecedf0 100% );filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ecedf0', endColorstr='#ecedf0');background-color:#ecedf0; color:#323a45; font-size: 15px; font-weight: bold; border-left: 0px solid #C7C7C7; } .contenttable thead th:first-child { border: none; }.contenttable tbody td { color: #000000; border-left: 0px solid #C7C7C7;font-size: 15px;border-bottom: 0px solid #C7C7C7;font-weight: normal; }.contenttable tbody td:first-child { border-left: none; }.contenttable tbody tr:last-child td { border-bottom: none; }
} 