/*
 @author (c) 2014  Aji yahya <aji.yahya@gmail.com>
*  All rights reserved
*/
/* 
    Created on : 09.01.2014, 23:16:19
    Author     : Aji yahya <aji.yahya@gmail.com>
*/
/* HEADLINES */
h1 {display:block;clear:both;line-height:68px;font-size: 36px;font-weight:normal;color:#e74c3c;}
h2 {display:block;clear:both;line-height:24px;font-size: 24px;font-weight:normal;color:#e74c3c;margin:20px 0 20px 0;}
h3 {margin:0 0 10px 0;font-size:20px;}
a {text-decoration: none; color: #282828;}
a img {border: none; }
p{font-size:16px;margin:0 0 0 0;}
p a{text-decoration: underline;color: #282828;}
p a:hover{text-decoration: underline;color: #0a9a9d;}
b {font-weight:bold}
ul {list-style: none}
ul li {list-style: none}
/* COLORS */
.color-1 {color:#323a45;} /* Grey */
.color-2 {color:#0a9a9d;} /* Green */
.color-3 {color:#e74c3c;} /* Red */
.color-4, .color-4 a{color:#ffffff;} /* White */
.color-5 {color:#323a45;} /* Black */
.color-6 {color:#757a81;} /* Anthrazit */
.color-7 {color:#929395;} /* LightGrey */
.color-8 {color:#646464;} /* darkGrey */
.color-9 {color:#282828;} /* Grey */
.color-2-h:hover {color:#0a9a9d;}
/* BG-COLOR */
.bg-color-1 {background-color:#323a45}
.bg-color-2 {background-color:#0a9a9d}
.bg-color-3 {background-color:#e74c3c}
.bg-color-4 {background-color:#ffffff}
.bg-color-5 {background-color:#ecedf0}
.bg-color-6 {background-color:#eaedf1}
.bg-color-7 {background-color:#9ea7b3}
.bg-color-8 {background-color:#9ea7b3}
.bg-color-9 {background-color:#ffdd00}
/* FONT-SIZE */
.ft-size-11 {font-size:11px;}
.ft-size-12 {font-size:12px;}
.ft-size-13 {font-size:13px;}
.ft-size-14 {font-size:14px;}
.ft-size-15 {font-size:15px;}
.ft-size-16 {font-size:16px;}
.ft-size-21 {font-size:21px;}
.ft-size-24 {font-size:24px;}
.ft-size-25 {font-size:25px;}
.ft-size-28 {font-size:28px;}
.ft-size-32 {font-size:32px;}
.ft-size-40 {font-size:40px;}
.ft-size-48 {font-size:48px;}
.ft-size-56 {font-size:56px;}
@media only screen and (max-width: 768px) {
    h1 {display:block;clear:both;line-height:26px;font-size: 24px;margin:20px 0 20px 0;}
    h2 {display:block;clear:both;line-height:26px;font-size: 20px;font-weight: normal}
    h3 {margin:0 0 5px 0;font-size:16px;}
    /* FONT-SIZE */
    .sd.ft-size-11 {font-size:11px;}
    .sd.ft-size-12 {font-size:12px;}
    .sd.ft-size-14 {font-size:14px;}
    .sd.ft-size-16 {font-size:14px;}
    .sd.ft-size-18 {font-size:14px;}
    .sd.ft-size-20 {font-size:20px;}
    .sd.ft-size-21 {font-size:21px;}
    .sd.ft-size-22 {font-size:22px;}
    .sd.ft-size-24 {font-size:24px;}
    .sd.ft-size-25 {font-size:25px;}
    .sd.ft-size-28 {font-size:28px;}
    .sd.ft-size-32 {font-size:32px;}
    .sd.ft-size-40 {font-size:40px;}
    .sd.ft-size-48 {font-size:28px;}
}
/* FONT-WEIGHT */
.ft-weight {font-weight:normal}
/* WIDTH */
.width-box-1 {width:292px;}
.width-5 {width:5%;}
.width-90 {width:90%;}
.width-95 {width:95%;}
.width-100 {width:100%;}

/* HEIGHT */
.height-box-1 {height:200px;}
.height-25 {height:25px;}
.height-30 {height:30px;}
.height-35 {height:35px;}
.height-40 {height:40px;}
.height-136 {height:136px;}

.min-height-136 {min-height:136px;height:auto !important;height:136px;}
/* BORDERS */
.border-radius-4 {-webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px;}
.border-top-radius-4 {-webkit-border-top-left-radius: 5px;-webkit-border-top-right-radius: 5px;-moz-border-radius-topleft: 5px;-moz-border-radius-topright: 5px;border-top-left-radius: 5px;border-top-right-radius: 5px;}
.border-bottom-radius-4 {-webkit-border-bottom-left-radius: 5px;-webkit-border-bottom-right-radius: 5px;-moz-border-radius-bottomleft: 5px;-moz-border-radius-bottomright: 5px;border-top-bottom-radius: 5px;border-bottom-right-radius: 5px;}
.border-radius-15 {-webkit-border-radius: 15px;-moz-border-radius: 15px;border-radius: 15px;}
/* CIRCLE */
.circle-1 {width:46px;height:34px;border-radius:50% 50% 50% 50%;-webkit-border-radius: 50%;-moz-border-radius: 50%; -khtml-border-radius:50%;behavior: url(fileadmin/templates/main/css/PIE.htc);text-align: center;padding:12px 0 0 0;margin:6px 0 0 0;display: block;z-index:1;position:relative}
.circle-1:hover { transition: all 0.25s ease-in-out;-webkit-transition: all 0.25s ease-in-out;-moz-transition: all 0.25s ease-in-out;box-shadow: 0 0 5px rgba(0, 0, 0, 1);-webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 1); -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 1);}
.circle-2 , .circle-3 {width:46px;height:46px;line-height:46px;border-radius:50% 50% 50% 50%;-webkit-border-radius: 50%;-moz-border-radius: 50%; -khtml-border-radius:50%;behavior: url(fileadmin/templates/main/css/PIE.htc);text-align: center;padding:0px 0 0 0;margin:0px 0 0 0;z-index:1;position:relative}
.circle-2 a , .circle-3 a {width:46px;height:46px;line-height:46px;display:block;border-radius:50%;-webkit-border-radius: 50%;-moz-border-radius: 50%; -khtml-border-radius:50%;}
.circle-2:hover { transition: all 0.25s ease-in-out;-webkit-transition: all 0.25s ease-in-out;-moz-transition: all 0.25s ease-in-out;box-shadow: 0 0 5px rgba(47, 50, 54, 1);-webkit-box-shadow: 0 0 5px rgba(47, 50, 54, 1); -moz-box-shadow: 0 0 5px rgba(47, 50, 54, 1);}
.circle-3:hover { transition: all 0.25s ease-in-out;-webkit-transition: all 0.25s ease-in-out;-moz-transition: all 0.25s ease-in-out;box-shadow: 0 0 5px rgba(16, 16, 16, 1);-webkit-box-shadow: 0 0 5px rgba(16, 16, 16, 1); -moz-box-shadow: 0 0 5px rgba(16, 16, 16, 1);}
.circle-1.circle-no-hover, .circle-2.circle-no-hover, .circle-3.circle-no-hover{-webkit-box-shadow: none; -moz-box-shadow:none;box-shadow:none}
.circle-4 {float:left;display:block;min-width:100px;height:46px;line-height:46px;border-radius: 50px;-webkit-border-radius: 50px;-moz-border-radius: 50px; -khtml-border-radius:50px;behavior: url(fileadmin/templates/main/css/PIE.htc);text-align: center;padding:0px 10px 0 10px;margin:20px 0 0 0;z-index:1;position:relative}
.circle-4 a {min-width:100px;height:46px;line-height:46px;display:block;border-radius: 50px;-webkit-border-radius: 50px;-moz-border-radius: 50px; -khtml-border-radius:50px;}
.circle-4:hover { transition: all 0.25s ease-in-out;-webkit-transition: all 0.25s ease-in-out;-moz-transition: all 0.25s ease-in-out;box-shadow: 0 0 5px rgba(16, 16, 16, 1);-webkit-box-shadow: 0 0 5px rgba(16, 16, 16, 1); -moz-box-shadow: 0 0 5px rgba(16, 16, 16, 1);}
.pagingControls {float:left;}
/* FLOAT */
/* FLOAT */
.fl-left {float:left}
.fl-right {float:right}
.d-block {display: block}
.d-table {display: table}
.d-table-cell {display:table-cell}
.fl-none {float:none}
.pos-abs-t0-r6 {position:absolute;top:0;right:6px;}
.pos-abs-l0-b0 {position:absolute;left:0;bottom:0px;}
.pos-rel-t0-r5 {position:relative;top:-14px;right:5px;}
.abs-middle {vertical-align:middle;}
.break {display:block;clear:left;}

/* MARGIN */
.margin-l-1  {margin-left:1px;}
.margin-l-2  {margin-left:2px;}
.margin-l-3  {margin-left:3px;}
.margin-l-4  {margin-left:4px;}
.margin-l-5  {margin-left:5px;}
.margin-l-6  {margin-left:6px;}
.margin-l-7  {margin-left:7px;}
.margin-l-8  {margin-left:8px;}
.margin-l-9  {margin-left:9px;}
.margin-l-10 {margin-left:10px;}
.margin-l-11 {margin-left:11px;}
.margin-l-12 {margin-left:12px;}
.margin-l-13 {margin-left:13px;}
.margin-l-14 {margin-left:14px;}
.margin-l-15 {margin-left:15px;}
.margin-r-20 {margin-right:20px;}
/* PADDING */
.padding-r-20 {padding-right: 20px}
.padding-l-20 {padding-left: 20px}
.padding-5 {padding:5px;}
.padding-20 {padding:20px;}
/* Opacity */
.opacity-5 {background: rgba(234, 237, 241, .3);background:#eaedf1\9;}
.opacity-3 {background: rgba(255,255, 255, .6);background:#eaedf1\9;}
.box {float:left;display:block;clear:both;margin:0 0 20px 0}
.box p a:hover {color:#323a45;}
/*
.box  img{
width: 116px;
	height: 116px;
	border-radius: 116px;
	-webkit-border-radius: 116px;
	-moz-border-radius: 116px;
	padding:20px 0 0 20px:
	
}*/
/* table */
/*.contenttable {margin:4px 0 0 0; border-collapse: collapse; text-align: left; width: 100%; }.contenttable td, .contenttable th { padding: 12px 10px; }.contenttable thead th {background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ecedf0), color-stop(1, #ecedf0) );background:-moz-linear-gradient( center top, #ecedf0 5%, #ecedf0 100% );filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ecedf0', endColorstr='#ecedf0');background-color:#ecedf0; color:#FFFFFF; font-size: 16px; font-weight: normal; border-left: 0px solid #36752D; } .contenttable thead th:first-child { border: none; }.contenttable tbody td { color: #323a45; font-size: 16px;font-weight: normal; }.contenttable tbody td:first-child { border-left: none; }.contenttable tbody tr:last-child td { border-bottom: none; }*/

.fa-ul {
    padding-bottom: 8px;
    margin-top:20px;
    font-size:16px;
}
.fa-ul li {
    margin-bottom: 8px;
}
.csc-bulletlist-1 {
    counter-reset: item;
    padding: 0 8px 8px 0;
}
.csc-bulletlist-1 li {
    list-style: none;
    display: block;
    padding: 0;
}
.csc-bulletlist-1 li:before {
    display: inline-block;
    content: counter(item) ".";
    counter-increment: item;
    font-size: 16px;
    font-weight: 700;
    margin: -3px 0 0 4px;
    color: #acb2bb;
    position: absolute;
    left: -2.142857142857143em;
    width: 2.142857142857143em;
    top: .14285714285714285em;
    text-align: center;
}
.csc-bulletlist-1 li i {
    display: none;
}
.fa-ul.ul-rte li:before {
    content: "\f111";
    font-family: FontAwesome;
    margin: -2px 8px 0 0;
    color: #acb2bb;
    position: absolute;
    left: -2.142857142857143em;
    width: 2.142857142857143em;
    top: .14285714285714285em;
    text-align: center;
}
.fa-ul.ul-rte li {
    list-style: none;
    display: block;
    position: relative;
}
.link-button {text-decoration:none;padding:8px 32px 8px 32px;cursor:pointer; -webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;background:#eaedf1;float:left;margin:0 2px 0 0;}
/*FORMS*/
.csc-mailform-field {display:block;font-size:16px;}
.csc-mailform-field label{padding:10px 0 2px 0}
.csc-mailform-field span {padding:10px 0 2px 0;width:100%;display:block;font-weight:bold;}
.csc-mailform-field label, .csc-mailform-field input[type="text"] ,.csc-mailform-field textarea{width:100%;display:block;}
.csc-mailform-field input , .csc-mailform-field textarea {font-size:16px;border:1px solid #c7c7c7;padding:10px;background:#eaedf1;-webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px;}
.csc-mailform-field input[type="submit"] {padding:10px 20px 10px 20px;float:left;display:block;clear:both;margin:30px 0 0 0;}
.csc-mailform-field select  {height:40px;width:100%;display:block;font-size:16px;border:1px solid #c7c7c7;padding:10px;background:#eaedf1;-webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px;}
.csc-mailform-field option {padding:10px 20px 10px 20px;height:40px;}
.csc-mailform-field  input[type="checkbox"]  {float:left;display:inline-block;}

.csc-textpic .csc-textpic-imagewrap.csc-textpic-single-image img {border:none;}
