{{ partial "header_before.html" . }}
{{ partial "header_after.html" . }}
                <div class="first-content-wrap bg-color-4">
                    <div class="first-content">
                        <div class="content-subpages-main">
{{ partial "left_nav.html" . }}
                            <div class="first-content-subpage ft-size-14 ln-height-20">
{{ partial "quicklinks_nav.html" . }}
				<h1>{{ .Title }} {{ if .IsDraft }} (Draft){{ end }}</h1>
				{{ .Content }}
                            </div>
                        </div>
                    </div>
                </div>
{{ partial "footer.html" . }}
