                            <!-- Flugplatz-Status -->
                            <div class="flugplatz-status-wrap bg-color-2 width-box-1 height-box-1 border-radius-4">

<div class="flugplatz-status-title bg-color-1 border-top-radius-4 ft-size-21 color-4"><span>Flugplatz-Status</span><div id="adstatus_icon"></div></div>

  <div class="flugplatz-status-content">

    <span class="ft-size-14 color-4" id="adstatus_text"></span>

    <span class="ft-size-11 break color-4" id="adstatus_by"></span>

</div>






<script>
jQuery.ajax({url:"https://api.mfgt.ch/api/v1/aerodromestatus"}).then(function(data){var act_timestamp=new Date(data.last_update_date);var act_user=data.last_update_by;var act_status=data.status;var act_text=data.message;function formatDate(date){var hours=date.getHours();var minutes=date.getMinutes();minutes=minutes<10?'0'+minutes:minutes;var strTime=hours+':'+minutes;return date.getDate()+"."+(date.getMonth()+1)+"."+date.getFullYear()+"  "+strTime;}conv_timestamp=formatDate(act_timestamp);var statusmap={'open':{stat_icon_div:'circle-1 bg-color-2 pos-abs-t0-r6 fa fa-check fa-lg',stat_txt:"OPEN",stat_col:"#F3FFF8",stat_ico:"open.png",},'restricted':{stat_icon_div:'circle-1 bg-color-9 pos-abs-t0-r6 fa fa-exclamation-triangle fa-lg',stat_txt:"RESTRICTED",stat_col:"#FFFCEB",stat_ico:"rest.png",},'closed':{stat_icon_div:'circle-1 bg-color-3 pos-abs-t0-r6 fa fa-times fa-lg',stat_txt:"CLOSED",stat_col:"#FFF3F6",stat_ico:"clsd.png",}};var status=statusmap[act_status];jQuery("#adstatus_by").html(conv_timestamp+" / "+act_user);jQuery("#adstatus_icon").addClass(status.stat_icon_div);jQuery("#adstatus_text").html(act_text);});</script>
</div>
                            <!-- /Flugplatz-Status -->
