                            <!-- Aktuelles -->
                            <div class="aktuelles-wrap">
<div class="news-latest-container">
    <div class="aktuelles-main">
        <h1 class="color-3 sd ft-size-48 ft-weight">Aktuelles</h1>


        <div class="aktuelles-main-pager">
           
        {{ range first 5 .Site.Taxonomies.news.aktuelles.Pages }}
	<div class="aktuellesList">
		{{ .Render "summary" }}
	</div>
	{{ end }}

        </div>
    </div>
    <div id="pagingControls"></div><!-- hug disabled <div class="circle-4 bg-color-4 ft-size-18"> < ! - -  - - >zum Archiv< ! - -  - - ></div> --> 
    <script type="text/javascript" src="/templates/main/js/imtech_pager.js"></script>
    <script type="text/javascript">
         var pager = new Imtech.Pager();
            jQuery.noConflict();
        (function($) { 

        $(document).ready(function() {

            pager.paragraphsPerPage = 1; // set amount elements per page
            pager.pagingContainer = $('.aktuelles-main-pager'); // set of main container
            pager.paragraphs = $('div.aktuellesList', pager.pagingContainer).clone(); // set of required containers
            pager.showPage(1);
        });
        ;})(jQuery);
        </script>    
    
    
</div>
</div>
                            <!-- /Aktuelles -->
