<div id="copyright">
	<div class="copyright-logo"><img src="/templates/main/pics/mfgt_logo_w.svg"  alt=""/></div>
	<div class="copyright-text"><p>Copyright ©&nbsp;{{ .Now.Year }}&nbsp;- Motorfluggruppe Thurgau</p>
   <p> Flugplatz<br />
    9506 Lommis<br />
    <a href="mailto:info@mfgt.ch" class="tel">Email: info@mfgt.ch</a><br />
    <a href="tel:+41523663333" class="tel">Tel: +41 (0) 52 366 33 33</a><br />
    Fax: +41 (0) 52 366 33 34</p>
</div>
</div>
