<div class="kontakt-button-wrap">
	<div class="kontakt-button circle-2 bg-color-6 color-7"><a href="/ql/kontakt/" ><i class="fa fa-envelope ft-size-56 color-2" ></i><span class="color-8 ft-size-15">Kontakt</span></a>
	</div>
</div>
