<ul class="footer-nav">
    <li><a href="https://intern.mfgt.ch/intern/"  class="color-8 color-2-h ft-size-15">Intern</a></li>
    <li><a href="/ql/impressum/"  class="color-8 color-2-h ft-size-15">Impressum</a></li>
</ul>
