            </div>
        </div>
        <div id="footer">
            <div id="footer-contact">
                <div class="footer-contact-wrap">
{{ partial "footer_nav" . }}
{{ partial "footer_contact" . }}
                </div>
            </div>
            <div id="footer-content">
{{ partial "copyright" . }}
{{ partial "socialmedia" . }}
            </div>
        </div>
    </div>


<script src="/js/jquery.mousewheel-3.0.6.pack.js" type="text/javascript"></script>
<script src="/js/jquery.fancybox.js" type="text/javascript"></script>
<script>
    jQuery(document).ready(function() {
            jQuery('.fancybox').fancybox();
    });
</script>

<!--    
<script src="typo3conf/ext/cl_jquery_fancybox/fancybox2/jquery.mousewheel-3.0.6.pack.js?1392933041" type="text/javascript"></script>
<script src="typo3conf/ext/cl_jquery_fancybox/fancybox2/jquery.fancybox.js?1392933041" type="text/javascript"></script>
<script src="/templates/main/js/google-analytics.js?1427934855" type="text/javascript"></script>
-->

</body>
</html>
