</head>

<body class="loading">


    <div id="wrap">
        <div id="main">

            <div id="header">
                <div id="logo">
                    <a href="/" onFocus="this.blur()"><img src="/templates/main/pics/mfgt_logo.svg" onerror="this.onerror=null; this.src='templates/main/pics/mfgt_logo.png'" alt="Motorfluggruppe Thurgau" title="Motorfluggruppe Thurgau" /></a>
                </div>
{{ partial "meta_nav.html" . }}
            </div>
{{ partial "main_nav.html" . }}

            <div id="header-image">
                <div id="header-image-rotator">
                    <img class="rotatoractive" src="/templates/main/header_images/header002.jpg" alt="" />
                </div>
            </div>
            <div id="slogan-wrap"></div>
            <div id="content">
