{{ $currentNode := . }}
{{ $currentMenuEntry := .Scratch.Get "currentMenuEntry" }}
{{ $isCurrent := or (.IsMenuCurrent "main" $currentMenuEntry) (.HasMenuCurrent "main" $currentMenuEntry) }}

<li {{ if $isCurrent}} class="act-has-sub" {{ end }}><a href="{{ $currentMenuEntry.URL | relURL }}"><i class="fa fa-circle fa-color-1"></i><span>{{ $currentMenuEntry.Name }}</span></a>
	{{ if and $isCurrent $currentMenuEntry.HasChildren }}
	<ul>
		{{ range $currentMenuEntry.Children.ByWeight }}
			<li {{ if $currentNode.IsMenuCurrent "main" . }} class="sub-act" {{ end }}>
				<a href="{{ .URL | relURL }}">
					<i class="fa fa-angle-right fa-fw fa-color-1"></i>
					<span>{{ .Name }}</span>
				</a>
			</li>

		{{ end }}
	</ul>
	{{ end }}

</li>
