<div class="first-content-navi">
    <ul id="left-navi">
        {{ $currentNode := . }}
	{{ range .Site.Menus.main.ByWeight }}
	    {{if or ($currentNode.IsMenuCurrent "main" .) ($currentNode.HasMenuCurrent "main" .) }}
		{{ if .HasChildren }}
		    {{ range .Children.ByWeight }}
			{{ $.Scratch.Set "currentMenuEntry" . }}
			{{ partial "left_nav_l1.html" $currentNode }}
		    {{ end }}
		{{ end }}
	    {{end}}
	{{ end }}
    </ul>
</div>
