<div class="news-main">
    <div class="news-columns ft-size-15">
        <h1 class="color-2 sd ft-size-48 ft-weight">&nbsp;</h1>

        {{ range first 3 .Site.Taxonomies.news.news.Pages }}
        <div class="news-cloumn-left bg-color-5 border-top-radius-4">
            <div class="news-column-main">
             {{ .Render "summary"}}
            </div>
	    <div class="news-column-link bg-color-1 color-6 border-bottom-radius-4">
		    <a href="{{ .URL }}" title="{{ .Title }}">
			    <span class="fa fa-circle"></span>Mehr
		    </a>i
	    </div>
        </div>
        {{ end }}
    </div>
</div>
