<div id="main-nav" class="b-color-1 bg-color-1">
    <button id="nav-toggle" aria-hidden="true" class="border-radius-4 bg-color-1 fa fa-bars color-4 ft-size-24"></button>
    <nav role="navigation" class="navigation">
        <div class="cssmenu">
            <ul id="menubar">{{ $currentNode := . }}{{ $menus := .Site.Menus.main.ByWeight }}{{ range $i, $menu := $menus }}{{ $.Scratch.Set "first" (eq $i 0) }}{{ $.Scratch.Set "last" (eq $i (sub (len $menus) 1)) }}{{ $.Scratch.Set "currentMenuEntry" . }}{{ partial "main_nav_l1.html" $currentNode }}{{ end }}</ul>
        </div>
    </nav>
</div>
