<div id="metanavi">
    <div class="metanavi-kontakt">
	<a href="/ql/kontakt/"><img src="/templates/main/pics/icon_kontakt.svg" alt="" /></a>
    </div>
    <div class="metanavi-home">
	<a href="/"><img src="/templates/main/pics/icon_home.svg" alt="" /></a>
    </div>
    <!--
    <div class="metanavi-home"><a href="https://intern.mfgt.ch/auth/logout.php" ><img src="/fileadmin/templates/main/pics/icon_signout.png" alt="" /></a></div>
    -->
</div>
