<!-- Piloten-Info -->
<div class="s-piloten-info-wrap"><div class="pinfo-button circle-2 color-7 opacity-5"><a href="/flugplatz/piloten-infos" ><i class="fa fa-info ft-size-48 bg-color-1 color-4 circle-2 circle-no-hover" ></i><span class="color-7 ft-size-14">Piloten Infos</span></a></div></div>
<!-- /Piloten-Info -->
