<!-- Dropdown-Tool -->
<div class="dropdown-tool-wrap">
    <div class="dropdown-tool circle-2 color-7 opacity-3">
        <a href="#"><i class="ft-size-28 bg-color-1 color-4 border-radius-4 fa fa-bars"></i></a>
        <div class="dropdown-tool-menu">
            <div class="dropdown-tool-trenner"></div>
            <div class="dropdown-tool-item circle-2 bg-color-5"><a href="/flugplatz/piloten-infos/"><i class="fa fa-check ft-size-32 color-2" ></i><span class="color-8 ft-size-11">Flugplatz-Status</span></a></div>
            <div class="dropdown-tool-trenner"></div>
            <div class="dropdown-tool-item circle-2 bg-color-5"><a href="/flugplatz/piloten-infos/webcam/"><i class="fa fa-video-camera ft-size-32 color-1" ></i><span class="color-8 ft-size-11">Webcam</span></a></div>
            <div class="dropdown-tool-trenner"></div>
            <div class="dropdown-tool-item circle-2 bg-color-5"><a href="https://www.flightnet.aero/Default.aspx?company=mfgt" target="_top"><i class="fa fa-plane ft-size-32 color-2" ></i><span class="color-8 ft-size-11">Flightnet</span></a></div>
        </div>
    </div>
</div>
<!-- /Dropdown-Tool -->
