<div id="socialmedia">
	<div class="footer-fb"><a href="https://www.facebook.com/MFGThurgau"><img src="/templates/main/pics/fb_footer_logo.png" alt="MFGT auf Facebook" title="MFGT auf Facebook" /></a></div>
	<div class="footer-gplus"><a href="https://plus.google.com/+MfgtCh"><img src="/templates/main/pics/gplus_footer_logo.png" alt="MFGT auf Google+" title="MFGT auf Google+" /></a></div>
	<!-- <div class="footer-twitter"><a href="#"><img src="/templates/main/pics/twitter_footer_logo.png" alt="MFGT auf twitter" title="MFGT auf twitter" /></a></div> -->
</div>
