{{ partial "header_before.html" . }}
{{ partial "header_after.html" . }}
<div class="first-content-wrap bg-color-5">
    <div class="first-content">
        <div class="content-aktuelles-main">
{{ partial "pilinfo.html" . }}
{{ partial "adstatus.html" . }}
{{ partial "aktuelles.html" . }}
        </div>
    </div>
</div>
<div id="webcam-button-wrap">
    <div id="webcam-button" class="circle-2 bg-color-6 color-7"><a href="/flugplatz/piloten-infos/webcam/"><span class="color-7 ft-size-15">Webcam</span><i class="fa fa-video-camera ft-size-56 color-3" ></i></a></div>
</div>
<div class="devices-trenner"></div>
<div class="second-content-wrap">
    <div class="second-content">
{{ partial "main_news.html" . }}
    </div>
</div>
{{ partial "footer.html" . }}
