/* Page Layout */
html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  margin-top: 0px;
  padding: 0;
  background-color: #FAFAFA;
  font: 12px Arial, sans-serif;
  color: #010000;
}

#doc_body {
  width: 900px;
  margin: 0 auto 0;
}

#header_menu {
  height: 16px;
  border-left: 1px solid #dbdbdb;
  border-right: 1px solid #dbdbdb;
  border-bottom: 1px solid #dbdbdb;
  background-color: #FAFAFA;
  padding: 2px 6px;
}

#header_image {
  width: 900px;
  height: 85px;
  background: url(header.png) no-repeat;
}

#header_image_print {
  display: none;
  background: url(header.png) no-repeat;
}

#header_home {
  float: left;
  line-height: 16px;
  color: #003979;
  font-weight: bold;
}

#header_home img {
  vertical-align: bottom;
  border: 0px;
}

#header_home a {
  text-decoration: none;
  font-size: 11px;
  font-weight: bold;
  color: #003979;
}

#quick_links {
  float: right;
  font-weight: bold;
  color: #003979;
}

#quick_links a {
  text-decoration: none;
  font-weight: bold;
  color: #003979;
}

#site_menu_top {
  height: 32px;
  background-color: #F1F1F1;
  border-bottom: 1px solid #dbdbdb;
  border-top: 1px solid #dbdbdb;
  border-left: 1px solid #dbdbdb;
  border-right: 1px solid #dbdbdb;
}

#site_menu_top ul {
  height: 32px;
  margin: 0;
  padding: 0px 0px 0px 1px;
  list-style-type: none;
}

#site_menu_top li {
  float: left;
  margin: 0px 1px 0px 0px;
  padding: 5px 15px;
  line-height: 22px;
  background-color: #F1F1F1;
}

#site_menu_top li.menu_top_act {
  background-color: #fff;
}

.menu_top_act, .menu_top_act a {
  color: #003979;
  font-weight: bold;
}

#site_menu_top a {
  text-decoration: none;
}

#site_column_left {
  position: relative;
  clear: left;
  float: left;
  left: 0px;
  width: 160px;
}

#site_menu_left {
  margin-top: 24px;
  padding: 12px 0px;
  background-color: #F1F1F1;
  width: 160px;
}

#site_menu_left ul {
  margin: 0px;
  padding-left: 0px;
  list-style-type: none;
}

#site_menu_left ul li {
  padding: 2px 2px 2px 6px;
}

#site_menu_left ul ul {
  padding-left: 16px;
  font-size: 0.8em;
}

#site_menu_left a {
  text-decoration: none;
}

.menu_left_act, .menu_left_act a {
  color: #003979;
  font-weight: bold;
  background-color: #fff;
}

#social_media_links {
  margin-top: 32px;
}

#site_content {
  min-height: 480px;
  margin-left: 160px;
  padding: 42px 24px 24px 24px;
  border-left: 1px solid #dbdbdb;
  border-bottom: 1px solid #dbdbdb;
  border-right: 1px solid #dbdbdb;
  background-color: #fff;
}

#site_content_right {
  float: right;
  width: 220px;
  margin: 0px 0px 20px 20px;
  padding: 5px 10px;
  background-color: #fff;
  border: 1px solid #dbdbdb;
}

#site_content_right h1, #site_content_right h2, #site_content_right h3, #site_content_right p {
  font-size: 1em;
}

#footer {
  font: italic 10px Arial, sans-serif;
  text-align: right;
  color: #666;
}

/* Text Formats */
h1.page_title {
  margin: 0px 0px 24px;
  padding: 0px;
  font: bold 16px Arial, sans-serif;
  color: #003979;
}

h1 {
  padding: 0px;
  font: bold 14px Arial, sans-serif;
  color: #010000;
}

h2 {
  font: italic bold 12px Arial, sans-serif;
  color: #003979;
}

h2 a {
  font-weight: bold;
  text-decoration: none;
  color: #003979;
}

h3 {
  font: italic bold 11px Arial, sans-serif;
  color: #010000;
}

h4 {
  font: italic 11px Arial, sans-serif;
  color: #003979;
}

ul {
  padding-left: 32px;
  list-style-type: square;
}

ol li ol {
  margin-bottom: 10px;
}


dd.csc-textpic-caption {
  padding-top: 6px;
  text-align: center;
  font: italic 0.9em Arial, sans-serif;
}


/* Link Styles */
a {
  font-weight: normal;
  text-decoration: underline;
  color: #010000;
}

/* Table Styles */
table {
  margin: 5px 20px 20px;
}

.contenttable {

}

tr td {
  vertical-align: top;
}

tr.tr-odd {
  background-color: #ECECEC;
}

/* Table "agenda" */

table.agenda {
  width: 90%;
    
}

table.agenda th {
  text-align: left;
}


table.agenda td {
  padding: 5px;
}

/* Table "safety-bulletin" */

table.safety-bulletin {
  width: 95%;
    
}

table.safety-bulletin th {
  text-align: left;
}


table.safety-bulletin td {
  padding: 3px;
}


/* Forms */
fieldset.csc-mailform {
 border: 1px solid #dbdbdb;
}

div.csc-mailform-field label {
  display: block;
}

div.csc-mailform-field input, div.csc-mailform-field select, div.csc-mailform-field textarea {
  border: 1px solid #dbdbdb;
  margin-bottom: 8px;
  font: 12px Arial, sans-serif;
}

div.csc-textpic-intext-left-nowrap div.csc-textpic-imagewrap, div.csc-textpic-intext-right-nowrap div.csc-textpic-imagewrap {
  clear: none;
}

div.csc-frame-frame1 {
  margin: 3px 0;
  padding: 6px 6px 0;
  border: 1px solid #dbdbdb;
}

div.csc-frame-frame2 {
  margin: 3px 0;
  padding: 6px 6px 0;
  border: 2px dashed #dbdbdb;
}

/* AD-Status */


table.sts_table {
  border: 1px solid #DBDBDB;
  clear: both;
  margin: 3px;
  padding: 10px 0;
  width: 100%;
  table-layout: fixed;
  /*
  border-width: 0px;
  border-style: none;
  */
  border-spacing: 0px;
  padding: 0px;
  
  
}

td.sts_icon {
  text-align: center;
  vertical-align: top;
  width: 25%;
  color: #003979;
}

td.sts_txt {
  padding: 5px 10px 5px 25px;
  font: 13px Arial, sans-serif;
}

div.sts_status {
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: center;
  font: bold 14px Arial, sans-serif;
}

