/* Page Layout */
html {
  height: auto;
}

body {
  height: auto;
  margin: auto;
  background-color: transparent;
}

#doc_body {
  width: auto;
  margin: 0 auto 0;
}

#header_menu {
  display: none;
}

#header_image {
  display: none;
  background-color: transparent;
}

#header_image_print {
  display: block;
}

#quick_links {
  display: none;
}

#site_column_left, #site_menu_top {
  display: none;
}

#site_column_left div, #site_menu_top div {
  display: none;
}

#site_menu_left a img, #site_menu_top a img {
  border: 0px;
}

#site_content {
  margin-left: 0px;
  padding: 20px 0px 0px 0px;
  border: none;
  background-color: transparent;
}

#footer {
  margin-left: 0px;
}
