{{ $id := .Get 0 }}

{{ if isset .Site.Params "person" }}
{{ if .Site.Params.person.enable }}

{{ $person := index .Site.Data.person $id }}

<div class="box width-100 min-height-136 margin-b-28 bg-color-5 color-9">
	<img src="/images/people/{{ $person.img }}" width="150" height="190" class="d-table-cell fl-left" alt="" />
    <div class="padding-20 d-table-cell">
	    <h3 class="ft-weight-n">{{ $person.name }}, {{ $person.function}}</h3>
        <span class="sd  ft-size-16">
		<p class="bodytext">{{ $person.address1 }}<br />{{ $person.address2 }} </p>
		<p class="bodytext">
		{{ if $person.home }} P: <a href="tel:{{ $person.home }}" target="_blank" >{{ $person.home }}</a><br /> {{ end }}
		{{ if $person.work }} G: <a href="tel:{{ $person.work }}" target="_blank" >{{ $person.work }}</a><br /> {{ end }}
		{{ if $person.mobile }} M: <a href="tel:{{ $person.mobile }}" target="_blank" >{{ $person.mobile }}</a> {{ end }}
		</p>
		<p class="bodytext"><a href="mailto:{{ $person.email }}" class="mail" >{{ $person.email }}</a></p>
	</span>
    </div>
</div>


{{ end }}
{{ end }}
